{
  acme_dns cloudflare {$CLOUDFLARE_API}
  default_sni henriquekh.dev.br
}

files.localhost,
files.tunnel.henriquekh.dev.br,
files.zt.henriquekh.dev.br,
files.henriquekh.dev.br {
  root * /vol/drive/shared

  basic_auth /private/* {
    henrique $2a$14$gKDYsNCR3nfouySVFQZ9COBx.xl1KOseRNzutwSKIFVUXinG4ixkq
  }

  file_server browse
}

jf.localhost,
jf.tunnel.henriquekh.dev.br,
jf.zt.henriquekh.dev.br,
jf.henriquekh.dev.br {
  reverse_proxy :8096
}

search.localhost,
search.tunnel.henriquekh.dev.br,
search.zt.henriquekh.dev.br,
search.henriquekh.dev.br {
  reverse_proxy :5947
}

qbit.localhost,
qbit.tunnel.henriquekh.dev.br,
qbit.zt.henriquekh.dev.br,
qbit.henriquekh.dev.br {
  reverse_proxy :8112
}

radarr.localhost,
radarr.tunnel.henriquekh.dev.br,
radarr.zt.henriquekh.dev.br,
radarr.henriquekh.dev.br {
  reverse_proxy :7878
}

sonarr.localhost,
sonarr.tunnel.henriquekh.dev.br,
sonarr.zt.henriquekh.dev.br,
sonarr.henriquekh.dev.br {
  reverse_proxy :8989
}

lidarr.localhost,
lidarr.tunnel.henriquekh.dev.br,
lidarr.zt.henriquekh.dev.br,
lidarr.henriquekh.dev.br {
  reverse_proxy :8686
}

readarr.localhost,
readarr.tunnel.henriquekh.dev.br,
readarr.zt.henriquekh.dev.br,
readarr.henriquekh.dev.br {
  reverse_proxy :8787
}

prowlarr.localhost,
prowlarr.tunnel.henriquekh.dev.br,
prowlarr.zt.henriquekh.dev.br,
prowlarr.henriquekh.dev.br {
  reverse_proxy :9696
}

bazarr.localhost,
bazarr.tunnel.henriquekh.dev.br,
bazarr.zt.henriquekh.dev.br,
bazarr.henriquekh.dev.br {
  reverse_proxy :6767
}
