name: "populate cache"
on:
  workflow_call:
    inputs:
      output:
        required: true
        type: string
jobs:
  cache:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: "actions/checkout@v6"
      - uses: "./.github/actions/aggressive-space"
        with:
          swap-size-mb: "1024"
          root-reserve-mb: "4096"
          build-mount-path: /nix/store
      - name: Install Python for Nix Installer
        run: |
          sudo apt-get update -y
          sudo apt-get install -y --fix-missing python3
      - name: Install nix
        uses: cachix/install-nix-action@v31
      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: henriquekh
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          extraPullNames: nix-community,hyprland,niri
      - name: Build output
        run: |
          nix build .#${{inputs.output}} \
            -L --no-link --print-out-paths \
            > result
      - name: Upload results
        run: cachix push henriquekh < result
