name: "populate cache"

on:
  workflow_call:
    inputs:
      output:
        required: true
        type: string

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          swap-size-mb: 1024
          root-reserve-mb: 1024
          build-mount-path: /nix/store
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-codeql: "true"
          remove-docker-images: "true"
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: main
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixos-unstable.tar.gz
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: henriquekh
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          extraPullNames: nix-community,hyprland,niri
      - name: Build output
        run: |
          nix build .#${{inputs.output}} \
            -L --no-link --print-out-paths \
            > result
      - name: Upload results
        run: cachix push henriquekh < result
