name: "check flake"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      outputs: ${{ steps.gen_output.outputs.outputs }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixos-unstable.tar.gz
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Check flake
        run: nix flake check --all-systems
      - name: Get outputs
        id: gen_output
        run: echo "outputs=$(nix flake show --json | jq -c '.nixosConfigurations | keys | map("nixosConfigurations.\(.).config.system.build.toplevel")')" >> "$GITHUB_OUTPUT"

  cache:
    needs: build
    strategy:
      matrix:
        output: ${{fromJson(needs.build.outputs.outputs)}}
    uses: ./.github/workflows/cache.yml
    with:
      output: ${{ matrix.output }}
    secrets: inherit